<template>
  <div class="text-center">
    <h1>Doku Form</h1>
    <b-card class="text-center checkout">
      <form
        action="https://staging.doku.com/Suite/Receive"
        method="post"
        enctype="application/x-www-form-urlencoded"
      >
        <div class="form-group">
          <label for="MALLID">MALLID :</label>
          <input
            type="text"
            name="MALLID"
            id="MALLID"
            class="form-control"
            v-model="form.MALLID"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="CHAINMERCHANT">CHAINMERCHANT :</label>
          <input
            type="text"
            name="CHAINMERCHANT"
            id="CHAINMERCHANT"
            class="form-control"
            v-model="form.CHAINMERCHANT"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="PURCHASEAMOUNT">PURCHASEAMOUNT :</label>
          <input
            type="text"
            name="PURCHASEAMOUNT"
            id="PURCHASEAMOUNT"
            class="form-control"
            v-model="form.PURCHASEAMOUNT"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="AMOUNT">AMOUNT :</label>
          <input
            type="text"
            name="AMOUNT"
            id="AMOUNT"
            class="form-control"
            v-model="form.AMOUNT"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="TRANSIDMERCHANT">TRANSIDMERCHANT :</label>
          <input
            type="text"
            name="TRANSIDMERCHANT"
            id="TRANSIDMERCHANT"
            class="form-control"
            v-model="form.TRANSIDMERCHANT"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="WORDS">WORDS :</label>
          <input
            type="text"
            name="WORDS"
            id="WORDS"
            class="form-control"
            v-model="form.WORDS"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="SESSIONID">SESSIONID :</label>
          <input
            type="text"
            name="SESSIONID"
            id="SESSIONID"
            class="form-control"
            v-model="form.SESSIONID"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="REQUESTDATETIME">REQUESTDATETIME :</label>
          <input
            type="text"
            name="REQUESTDATETIME"
            id="REQUESTDATETIME"
            class="form-control"
            v-model="form.REQUESTDATETIME"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="CURRENCY">CURRENCY :</label>
          <input
            type="text"
            name="CURRENCY"
            id="CURRENCY"
            class="form-control"
            v-model="form.CURRENCY"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="PURCHASECURRENCY">PURCHASECURRENCY :</label>
          <input
            type="text"
            name="PURCHASECURRENCY"
            id="PURCHASECURRENCY"
            class="form-control"
            v-model="form.PURCHASECURRENCY"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="NAME">NAME :</label>
          <input
            type="text"
            name="NAME"
            id="NAME"
            class="form-control"
            v-model="form.NAME"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="EMAIL">EMAIL :</label>
          <input
            type="text"
            name="EMAIL"
            id="EMAIL"
            class="form-control"
            v-model="form.EMAIL"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="BASKET">BASKET :</label>
          <input
            type="text"
            name="BASKET"
            id="BASKET"
            class="form-control"
            v-model="form.BASKET"
            readonly
          />
        </div>

        <div class="row justify-content-center">
          <div class="col-md-12">
            <b-button type="submit" block variant="danger">Checkout</b-button>
          </div>
        </div>
      </form>
    </b-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        MALLID: "",
        CHAINMERCHANT: "NA",
        PURCHASEAMOUNT: "0.00",
        AMOUNT: "0.00",
        TRANSIDMERCHANT: "",
        WORDS: "",
        SESSIONID: "",
        REQUESTDATETIME: "",
        CURRENCY: 360,
        PURCHASECURRENCY: 360,
        NAME: "",
        EMAIL: "",
        BASKET: ""
      }
    };
  },
  mounted() {
    this.form.MALLID = process.env.VUE_APP_MALLID;
    this.form.PURCHASEAMOUNT = this.$route.query.e;
    this.form.AMOUNT = this.$route.query.e;
    this.form.TRANSIDMERCHANT = this.$route.query.a;
    this.form.WORDS = this.$route.query.c;
    this.form.SESSIONID = this.$route.query.b;
    this.form.REQUESTDATETIME = this.$route.query.d;
    this.form.NAME = this.$route.query.f;
    this.form.EMAIL = this.$route.query.g;
    this.form.BASKET = this.$route.query.h;
  }
};
</script>

<style scoped>
.checkout {
  max-height: 10%;
}

input[type="text"] {
  margin-bottom: 10px;
}
</style>