<template>
    <div v-if="show">
        <b-card class="text-center">
            <h1>Basic Information</h1>
            <b-form @submit="onSubmit">
                <b-form-group
                    id="input-group-1"
                    label="Name:"
                    label-for="name"
                    >
                    <b-form-input
                        id="name"
                        v-model="fullName"
                        required
                        placeholder="Enter your name"
                    ></b-form-input>
                </b-form-group>
                <b-form-group
                    id="input-group-2"
                    label="Email:"
                    label-for="emailInput"
                    description="We'll never share your email with anyone else."
                    >
                    <b-form-input
                        id="emailInput"
                        type="email"
                        v-model="email"
                        required
                        placeholder="Enter your email address"
                    ></b-form-input>
                </b-form-group>
                <b-form-group
                    id="input-group-3"
                    label="Your subscription:"
                    label-for="basket"
                    description="{Item name},{amount},{quantity},{total amount}"
                    >
                    <b-form-input
                        id="basket"
                        required
                        disabled
                        :value="basket"
                    ></b-form-input>
                </b-form-group>

                <b-button type="submit" variant="primary">Submit Your Information</b-button>
            </b-form>
        </b-card>
    </div>
</template>

<script>
export default {
    props: ['basket', 'show'],
    data(){
        return {
            fullName: '',
            email: ''
        }
    },
    methods: {
        onSubmit(){
            this.$router.push({name: 'form', query: {a: this.fullName, b: this.email, c: this.basket}});
        }
    }

}
</script>