<template>
    <div class="text-center">
        <h1>This is example catalog</h1>
        <div class="row justify-content-center mb-2">
            <b-card
                img-src="https://picsum.photos/seed/picsum/600/300"
                img-top
                tag="article"
                style="max-width: 15rem;"
                class="mb-2 product"
                v-for="product in products"
                :key="product.id"
                :title="product.name"
                :img-alt="product.name"
            >
            <b-card-text>
            {{ product.description }}
            </b-card-text>
            <b-button @click="subscribe(product)" variant="primary">Subscribe Package</b-button>
        </b-card>
        </div>
        <register :show="show" :basket="basket"></register>
    </div>
</template>

<script>
import Register from "./Register.vue";
export default {
    data(){
        return {
            products: [{
                id: 1,
                name: 'Subscription by day',
                price: 500000.0,
                description: 'Lorem ipsum generator lalalala uyeee'
            },
            {
                id: 2,
                name: 'Subscription by week',
                price: 1000000.0,
                description: 'Lorem ipsum generator lalalala uyeee'
            },
            {
                id: 3,
                name: 'Subscription by month',
                price: 2000000.0,
                description: 'Lorem ipsum generator lalalala uyeee'
            }],
            basket: '',
            show: false
        }
    },
    methods: {
        subscribe(product){
            this.basket = `${product.name},${this.formatPrice(product.price)},1,${this.formatPrice(product.price)}`;
            this.show = true;
        },
        formatPrice(price){
            return Number(price).toFixed(2);
        }
    },
    components: {
        Register
    }
}
</script>

<style scoped>
    .product{
        margin-right: 20px;
    }
</style>