<template>
    <div class="text-center">
    <h1>Signature form</h1>
    <b-card>
        <b-form @submit="onSubmit($event)">
            <b-form-group id="input-group-1" label="Mall Id:" label-for="input-1">
                <b-form-input id="input-1" v-model="mallId" type="text" required disabled></b-form-input>
            </b-form-group>
            <b-form-group id="input-group-5" label="Transaction Id:" label-for="input-5">
                <b-form-input id="input-5" v-model="transactionId" type="text" required disabled></b-form-input>
            </b-form-group>
            <b-form-group id="input-group-7" label="Signature:" label-for="input-7">
                <b-form-input id="input-7" v-model="wordsSignature" type="text" disabled required></b-form-input>
            </b-form-group>
            <b-form-group id="input-group-8" label="Session ID:" label-for="input-8">
                <b-form-input id="input-8" v-model="sessionId" type="text" disabled required></b-form-input>
            </b-form-group>
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <b-button type="submit" variant="success" @click="onSubmit($event)">Checkout</b-button>
                </div>
            </div>
      </b-form>
    </b-card>
    </div>
</template>

<script>
import moment from "moment";
export default {
    data(){
        return {
            mallId: '',
            transactionId: '',
            sessionId: '',
            wordsSignature: '',
            requestDateTime: '',
            amount: ''
        }
    },
    methods: {
        onSubmit($event){
            $event.preventDefault();
            this.$router.push({name: 'doku', query: {
                a: this.transactionId,
                b: this.sessionId,
                c: this.wordsSignature,
                d: this.requestDateTime,
                e: this.amount,
                f: this.$route.query.a,
                g: this.$route.query.b,
                h: this.$route.query.c
            }});
        }
    },
    mounted() {
        this.mallId = process.env.VUE_APP_MALLID;
        const secret = process.env.VUE_APP_SECRET;
        this.transactionId = Math.random().toString(36).substring(5).toUpperCase();

        this.requestDateTime = moment(new Date()).format("YYYYMMDDhhmmss");
        const apiBase = process.env.VUE_APP_API_BASE;
        let amount = this.$route.query.c || ''
        this.amount = amount.split(',')[3]
        const data = {
            words: `${this.amount}${this.mallId}${secret}${this.transactionId}`,
            requestDate: this.requestDateTime
        };

        this.$http
        .post(`${apiBase}disburse/words`, data, {
            headers: { "Content-Type": "application/json" }
        })
        .then(response => {
            this.sessionId = response.data.sessionId;
            this.wordsSignature = response.data.words;
        });
    }
}
</script>